# SPDX-License-Identifier: AGPL-3.0-only
# Copyright (C) 2026 Amine Khemissi
# MakhOS GRUB config for automated testing.
# The "makh.test" argument makes the kernel run its self-tests headless and
# power off with a pass/fail exit code (see kernel/ktest.c, tools/run_tests.py).
timeout=0
default=0

menuentry "MakhOS (self-test)" {
    multiboot2 /boot/makhos.kernel makh.test
    module2 /boot/initrd.tar initrd
    boot
}
